<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>

    <!--<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>-->
    <!--<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>-->
    <!--<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">-->

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->

    <link rel="stylesheet" href="/libs/bootstrap-3.3.5-dist/css/bootstrap.css"/>
    <script src="/libs/JQuery/jquery-1.11.3.min.js"></script>
    <script src="/libs/bootstrap-3.3.5-dist/js/bootstrap.js"></script>

    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" type="text/css" href="/libs/font-awesome/css/font-awesome.css">
    {% block head %}
        <script src="javascripts/autocomplete.js"></script>
    {% endblock %}
</head>
<body>
    {% block menu %}
        <div class="navbar navbar-inverse navbar-fixed-top no_select">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
                        <span class="sr-only">Open navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" id="logo_bootstrap" href="#"><img src="http://localhost:3000/images/logo_bootstrap.png"></a>
                </div>
                <div class="collapse navbar-collapse" id="responsive-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">News<b class="caret"></b></a>
                            <ul class="dropdown-menu help-dropdown">
                                <li><a href="#">Page 1</a></li>
                                <li><a href="#">Page 2</a></li>
                                <li><a href="#">Page 3</a></li>
                                <li><a href="#">Page 4</a></li>
                                <li><a href="#">Page 5</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog<b class="caret"></b></a>
                            <ul class="dropdown-menu help-dropdown">
                                <li><a href="#">Page 1</a></li>
                                <li><a href="#">Page 2</a></li>
                                <li><a href="#">Page 3</a></li>
                                <li><a href="#">Page 4</a></li>
                                <li><a href="#">Page 5</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Task 1.0<b class="caret"></b></a>
                            <ul class="dropdown-menu help-dropdown">
                                <li><a href="#" target="blank">First steps</a></li>
                                <li><a href="#" target="blank">Prompt</a></li>
                                <li><a href="#" target="blank">Array</a></li>
                                <li><a href="#" target="blank">Accordion</a></li>
                                <li><a href="#" target="blank">Delegation</a></li>
                                <li><a href="#" target="blank">Closing</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Task 2.0<b class="caret"></b></a>
                            <ul class="dropdown-menu help-dropdown">
                                <li><a href="#">HashMap (Java)</a></li>
                                <li><a href="#">Slider</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="jumbotron no_select">
            <div class="container">
                <h1 id="jumbotronh1"><b>{{title}}</b></h1>
                <p  id="jumbotronp">Working with JSON-files and templating "Swig".</p>
            </div>
        </div>
    {% endblock %}

    <div class="text-justify" id="t17_content">
        {% block header %}
            <h3>Задание 18.</h3>
        {% endblock %}<br>

        {% block content %}
            <ol>
                <li>Добавить поле поиска в хедер страницы(должно присутствовать на каждой
                    странице приложения)
                </li>
                <li>При вводе от 3 символов и более должен появляется выпадающий список с
                    подсказками, по списку можно перемещаться с помощью стрелок верх в низ,
                    либо выбрать нужный пункт мышью(функционал UI полностью аналогичен
                    вводу запроса в гугле). Поиск осуществляется только по имени компании,
                    введёная строка может быть как полным именем, так и просто быть частью
                    имени(подстрокой). Если ни один из пунктов не выбран, а нажата клавиша Enter
                    то осуществляется переход на страницу со списком компаний подходящим
                    критерию поиска(ввод в инпуте поиска). Если выбран пункт из списка
                    подсказки(туда выводить названия подходящих компаний) то осуществлять
                    переход на страницу с полным описанием выбранной компании.
                </li>
                <li>На стороне сервера нужна соответствующая логика:
                    <ol>
                        <li>на запросы поиска при вводе надо отсылать json с данными для
                            автоподсказки</li>
                        <li>страница вывода результатов поиска(имена компаний в списке должны быть
                            ссылками на их страницы), отображение если поиск дал 0 результатов</li>
                    </ol>
                </li>
            </ol>
            <p>To go to a page with a table of companies - click on the button:</p>
            <a href="http://localhost:3000/company"><button type="button" class="btn btn-default">Таблица компаний</button></a>
            <br>
            <br>
            <p>Enter the name of the company, and press "Search"</p>
            <div class="search_area">
                <form action="" method="GET" class="form-inline">
                    <div class="form-group">
                        <input type="text" name="query" class="form-control" id="js_search_box" placeholder="Company name" value="" autocomplete="off">
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                    <div id="js_search_result"></div>
                </form>
            </div>

        {% endblock %}<br>

        {% block footer %}
            <hr>
            <div class="text-right text-muted">
                <p>Powered by <a href="https://nodejs.org/en/" target="blank">node.js</a> & <a href="http://expressjs.com/ru/" target="blank">express</a></p>
                <p>With any questions and suggestions, please email:</p>
                <a href="mailto: serega.n.v333@gmail.com">serega.n.v333@gmail.com</a>
            </div>
        {% endblock %}
    </div>
</body>
</html>